{% extends "company_layouts/company_layout.html" %}
{% comment %}
	# This root template is meant for creating the basic layout for all views that can be viewed without logging in.
	#
	#
	#
	#
	#
{% endcomment %}

{% block title %} {{ companyproject.name }} {% endblock %}

{% block content %}
    <div class="container ">
        <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 container-block">
            <div class="row top-content">
                <a href="{% url 'companies:update_project' project.slug %}"
                   class="btn btn-primary btn-fill col-md-1 col-lg-1 col-md-offset-1 col-lg-offset-1 pull-right">
                    Update
                </a>
                {% if not project.open_for_applications %}
                    <a href="{% url 'companies:alter_contact_option' project.slug %}"
                       class="btn btn-warning  btn-fill col-md-2 col-lg-2 col-md-offset-1 col-lg-offset-1 pull-right">
                        Allow Contact
                    </a>
                {% else %}
                    <a href="{% url 'companies:alter_contact_option' project.slug %}"
                       class="btn btn-warning btn-fill col-md-2 col-lg-2 col-md-offset-1 col-lg-offset-1 pull-right">
                        Disallow Contact
                    </a>
                {% endif %}
                <a href="{% url 'companies:delete_project' project.slug %}"
                   class="btn btn-danger btn-fill col-md-1 col-lg-1 col-md-offset-1 col-lg-offset-1 pull-right">
                    Delete
                </a>
            </div>
        </div>
        {% include 'layout/company_project_detail.html' %}
        <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 container-block">
            <div class="last-box">
                <h4> Contact Info</h4>

                <p>This contact information is not visible to other users, but used to forward their messages to
                    you </p>
                <ul>
                    <li><strong>Name: </strong> {{ project.contact_person }}</li>
                    <li><strong>Email: </strong> {{ project.contact_email }}</li>
                    {% if project.contact_phone %}
                        <li><strong>Telephone: </strong>{{ project.contact_phone }}</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}