{% extends "company_layouts/company_layout.html" %}

{% block title %} Courses {% endblock %}

{% block content %}
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 content-container">
        <div class="row">
            <div class="general-guideline">
                <div class="row">
                    <div class="top-content text-center">
                        <h2>General Guideline</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="bottom-content">
                        <h3>Guidelines for companies</h3>

                        <p>On Leapkit.com companies of all kinds can upload projects for students to participate in.
                            There are no requirements regarding length and complexity of the projects. Furthermore,
                            there are no requirements for number of groups to be able to solve the projects. Projects
                            are online until the end of a semester (the spring semester is from 1/2 to 31/7, the fall
                            semester is from 1/8 to 31/1). Your company can at any given time close the project. If this
                            is done, any application or view guarantee is non-applicable..</p>

                        <div class="divider"></div>

                        <h3>Project Creation</h3>

                        <p>Our project creation tool makes it easy to translate your company’s problem into a suitable
                            school project. Leapkit has a team of experts in higher education, ready to supply feedback
                            or answer any questions. We do this to ensure that you are satisfied and that the project is
                            attractive, before uploading.</p>

                        <div class="divider"></div>

                        <h3>Upload and Applications</h3>

                        <p>When a project has been uploaded, it is visible to the students and the students can now send
                            application to the person tied to the project. You decide for yourself how much information,
                            time and resources will be made available for collaboration with students.</p>

                        <div class="divider"></div>

                        <h3>Collaboration and NDA’s</h3>

                        <p>When your company accepts a student(s) application, the collaboration can begin on whatever
                            terms described. If necessary, the company can demand the students to sign a NDA, to protect
                            any sensitive information and giving the company all commercial rights to the outcome of the
                            collaboration. Leapkit will be making an NDA form available if needed.</p>

                        <div class="divider"></div>

                        <h3>Student-Company Interaction</h3>

                        <p>Neither the companies nor the students are required to meet up, exchange e-mails or even talk
                            together, before, during or after collaboration. However, in relation to the quality and the
                            end product of the collaboration, we highly recommend at least a basic level of
                            interaction.</p>

                        <div class="divider"></div>

                        <h3>Guidelines for students</h3>

                        <p>On Leapkit.com students can search projects uploaded by other students and by companies.
                            Furthermore, students can upload projects for other students to participate in, thus
                            Leapkit.com is a matchmaking platform between students and students, as well as students and
                            companies</p>

                        <div class="divider"></div>

                        <h3>Uploading Projects</h3>

                        <p>When students upload projects, they become visible to other students that can now contact the
                            person in charge of the project. It is up to the uploader of a project whether he/she wants
                            to accept a student’s application or not. The person in charge of a project can at any time
                            close the project for whatever reason there might be. When matches have been found,
                            collaboration can take place on whatever terms there have been agreed upon.</p>

                        <p>Searching through the uploaded projects, students can choose between company projects and
                            student projects. Company projects has been uploaded by companies while student projects has
                            been uploaded by students.</p>

                        <div class="divider"></div>

                        <h3>Company projects</h3>

                        <p>A company project gives the student(s), the possibility to work with a company and take a
                            crack at solving their actual problems. It is up to the company whether they want to accept
                            a students’ application or not. Furthermore, the company decides themselves how much
                            information, time and resources they will make available for collaboration with students.
                            Make sure that the project fits the requirements for the course, theses or internship you
                            will be using it for. If in doubt, always check with a representative of your institution,
                            e.g. your teacher.</p>

                        <div class="divider"></div>

                        <h3>NDA’s</h3>

                        <p>Some companies require students sign a Non-Disclosure Agreement (NDA),
                            in case sensitive information will be shared as part of the project.
                            Signing the NDA means that you cannot share specific information on the case with anyone,
                            other than the evaluators of your school projects.
                            The company will own commercial rights to the outcome of a collaboration,
                            whether it being a market analysis, a development of an app or something third.
                            You will also need to make your institution aware that the information should not be
                            shared.</p>

                        <div class="divider"></div>

                        <h3>Student projects</h3>

                        <p>A student project gives the student the possibility to join forces with students from
                            different study lines/universities and thereby making a group with a diverse set of skills.
                            It can be a long-term collaboration or just a short exchange of information – it is up to
                            the students to coordinate.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}