.about-pills {
  margin-left: 5%; }

.about-tap {
  text-align: center !important; }

/*  Rotating card section */
/* entire container, keeps perspective */
.card-container {
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  margin-bottom: 30px; }

/* flip the pane when hovered */
.card-container:hover .card, .card-container.hover .card {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.card-container.static:hover .card, .card-container.static.hover .card {
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  transform: none; }

/* flip speed goes here */
.card {
  -webkit-transition: -webkit-transform .5s;
  -moz-transition: -moz-transform .5s;
  -o-transition: -o-transform .5s;
  transition: transform .5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative; }

/* hide back of pane during swap */
.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14); }

/* front pane, placed above back */
.front {
  z-index: 2; }

/* back, initially hidden pane */
.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg); }

/*        Style       */
.card {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 4px;
  color: #444444; }

.card-container, .front, .back {
  width: 100%;
  height: 300px;
  border-radius: 4px; }

.card .cover {
  height: 105px;
  overflow: hidden;
  border-radius: 4px 4px 0 0; }

.card .cover img {
  width: 100%; }

.card .user {
  border-radius: 50%;
  display: block;
  height: 120px;
  margin: -55px auto 0;
  overflow: hidden;
  width: 120px; }

.card .user img {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 4px solid #FFFFFF;
  width: 100%; }

.card .content {
  background-color: transparent;
  box-shadow: none;
  padding: 10px 20px 20px; }

.card .content .main-content {
  min-height: 20px; }

.card .back .content .main-content {
  height: 85px; }

.card .name {
  font-size: 22px;
  line-height: 28px;
  margin: 10px 0 0;
  text-align: center;
  text-transform: capitalize; }

.card h5 {
  margin: 5px 0;
  font-weight: 400;
  line-height: 20px; }

.card .profession {
  color: #999999;
  text-align: center;
  margin-bottom: 20px; }

.card .footer {
  border-top: 1px solid #EEEEEE;
  color: #999999;
  margin: 30px 0 0;
  padding: 10px 0 0;
  text-align: center; }

.card .footer .social-links {
  font-size: 18px; }

.card .footer .social-links a {
  margin: 0 7px; }

.card .header {
  padding: 15px 20px;
  height: 90px; }

.card .motto {
  border-bottom: 1px solid #EEEEEE;
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 10px;
  text-align: center; }

/*      Just for presentation        */
.title {
  color: #506A85;
  text-align: center;
  font-weight: 300;
  font-size: 44px;
  margin-bottom: 90px;
  line-height: 90%; }

.title small {
  font-size: 17px;
  color: #999;
  text-transform: uppercase;
  margin: 0; }

.space-50 {
  height: 50px;
  display: block; }

.space-200 {
  height: 200px;
  display: block; }

.white-board {
  background-color: #FFFFFF;
  min-height: 200px;
  padding: 60px 60px 20px; }

.ct-heart {
  color: #F74933; }

pre.prettyprint {
  background-color: #ffffff;
  border: 1px solid #999;
  margin-top: 20px;
  padding: 20px;
  text-align: left; }

.atv, .str {
  color: #05AE0E; }

.tag, .pln, .kwd {
  color: #3472F7; }

.atn {
  color: #2C93FF; }

.pln {
  color: #333; }

.com {
  color: #999; }

.founder-profile {
  margin-top: 5%; }

.card-container .front .name,
.card-container .front .school,
.card-container .back .main-content .fa {
  color: #2999a8; }

.card-container .back .fa {
  color: #777777; }

.card-container .back .fa:hover {
  color: #2999a8; }

.three-reasons {
  margin-top: 5%; }

.three-reasons .number {
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #777777;
  margin-bottom: 3%; }

.three-reasons .number p {
  padding-top: 12px;
  color: #777777; }

.img-src {
  position: relative; }

.header-text {
  position: absolute;
  bottom: 225px;
  color: #FFF; }

.get-started-button {
  margin-top: 10px;
  font-size: 1.1em;
  width: 200px;
  text-transform: uppercase; }

.start-index {
  margin-top: 5%; }

.three-reasons {
  margin-top: 5%; }

.three-reasons .number {
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #777777;
  margin-bottom: 3%; }

.three-reasons .number p {
  padding-top: 12px;
  color: #777777; }

.info-box {
  margin-top: 10%;
  padding: 5%;
  background-color: #eeeeee;
  min-height: 250px; }

.get-company-pricing-link {
  text-transform: uppercase;
  background-color: #2999a8;
  text-align: center;
  padding: 2.5%;
  margin-bottom: 5%;
  color: #FFF; }

.info-icon {
  font-size: 4em;
  margin-bottom: 0px;
  margin-top: 7.5%; }

.info-link {
  color: #2999a8; }

.info-link:hover {
  color: #2999a8; }

.image-row {
  margin-top: 5%;
  position: relative;
  width: 100%;
  min-height: 544px;
  min-height: 544px; }

.image-row .full-width-image {
  width: 100%;
  height: 100%; }

.image-row .image-text {
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 30%;
  background-color: #FFF;
  z-index: 99;
  padding: 2%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }

.image-row .image-text-right {
  right: 5%; }

.image-row .image-text-left {
  left: 5%; }

.contact-info {
  margin-top: 3%;
  padding-top: 3%; }

.hq-info {
  padding-top: 1em; }

.contact-map {
  height: 300px;
  width: 400px; }

.FAQ-header {
  margin-bottom: 1%; }

.question-FAQ {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 1%; }

.nav-pills-group {
  min-width: 600px; }

.project-pricing img {
  width: 100%; }

/*
    ------------------ Sign up Model CSS -------------
*/
.modal-body {
  height: 500px; }

.modal-divider-vertical {
  height: 80%;
  border-left: 1px solid #F5F8F9;
  width: 1px; }

.modal-company {
  border-left: 1px solid #777777; }

.modal-company,
.modal-student {
  height: 90%;
  margin-top: 2%; }

.modal-body .modal-text {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 2%; }

.fa.model-dot {
  font-size: 12px;
  line-height: 16px;
  padding-right: 10px; }

/*
    -------------   This section is to make sure the footer is always in the bottom of the page
*/
html {
  position: relative;
  min-height: 100%; }

body {
  margin: 0 0 50px;
  /* bottom = footer height */ }

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%; }

footer {
  border-top: 1px solid #e7e7e7; }

footer .container {
  padding-top: 1%; }

.footer-links li {
  display: inline-block;
  margin-right: 1.5%;
  float: left; }

.footer-links li a {
  color: #555555; }

.footer-links li a:hover {
  color: #2999a8; }

.leapkit-copyright {
  float: right;
  text-align: right;
  color: #555555; }

.nav-logo {
  max-height: 40px;
  max-width: 180px; }
