<!-- Modal -->
<div class="modal fade" id="launchModel" tabindex="-1" role="dialog" aria-labelledby="launchModelLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="launchModelLabel">These features will be available at launch</h3>
      </div>
      <div class="modal-body">
            <h3>Thank you so much for joining Leapkit!</h3>
          <p>We are officially launching the platform this Thursday September 11th. <br>
             We are currently working on tidying up the final details, and have decided to limit your access until our official launch.<br>
             <div class="divider"></div>
              <a href="https://www.facebook.com/events/315468258621492/?ref=22" target="_blank">Don't forget to come to the launch party Thursday the 11th!</a>
          </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-fill" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>