<div class="panel panel-info">
    <div class="panel-heading">
        <h4 class="text-center text-upper">Start-up</h4>
    </div>
    <div class="panel-body text-center">
        <p class="lead">
            <strong>DKK 2495 / Semester</strong>
            <br>or<br>
            <strong>DKK 415 / Month</strong>
        </p>
    </div>
    <ul class="list-group list-group-flush text-center">
        <li class="list-group-item">
            Nr. of projects
            <span class="pull-right">1</span>
        </li>
        <li class="list-group-item">
            Pay over 6 months
            <span class="fa fa-check pull-right"></span>
        </li>
        <li class="list-group-item">
            Unlimited Messages
            <span class="fa fa-check pull-right"></span>
        </li>
        <li class="list-group-item">
            Help to target students
            <span class="fa fa-check pull-right"></span>
        </li>
        <li class="list-group-item">
            Technical Support
            <span class="fa fa-check pull-right"></span>
        </li>
    </ul>
</div>