<div>
    <h3>Leapkit and cookies</h3>
    <p>At Leapkit, we are thrilled about the opportunities that new technology is bringing us. Cookies are just one way that we can deliver an even better experience for you. Consequently we use cookies to create the most effective experience for you by serving relevant information as well as continuously improving the experience.</p>

    <h4>How we use cookies</h4>
    <p>We use cookies for a lot of things, however here is a list if you want to know more in detail:</p>
    <ul>
        <li>We use cookies to log you into our site</li>
        <li>We use cookies to automatically keep you logged in</li>
        <li>We use cookies to limit the amount of times you see the same content</li>
        <li>We use cookies to continuously measure what and how you interact with </li>
        <li>We use cookies to avoid showing you the cookie disclaimer next time you visit us</li>
        <li>We use cookies to understand your interests across our partner sites in order to present you with the most relevant content at our own site and in emails</li>
    </ul>

    <h4>Can you use Leapkit without accepting cookies?</h4>
    <p>Unfortunately, no. We have simply acknowledged that it will be too complicated, and a huge step back in our user experience. The only possibility for not accepting cookies, is hence to not use the site.
    <br>All the best,
    <br>Team Leapkit
    </p>

    <h3>Terms and Conditions</h3>
    <p>Please read the following regulations in order to ensure that you understand and accept the conditions for being a user of Leapkit. By signing in you are obliged to follow Leapkit's rules and regulations.</p>

    <h4>Start of the Regulations</h4>
    <p>These regulations with serial number 01.09.2014 are in function from 1st September 2014 Conditions for Establishing a Profile By establishing a profile on Leapkit you accept the following conditions:</p>
    <ul>
        <li>You are not allowed to establish a profile other than your own personal profile. It is not allowed to use other people's email addresses or false email addresses.</li>
        <li>Each member on Leapkit must be respected and it is imperative that you treat other members the way you wish to be treated yourself.</li>
    </ul>

    <h4>User Rules</h4>
    <ul>
        <li>The user is responsible for filling in correct and truthful information.</li>
        <li>The user is responsible for any activity that takes place within his or her profile and for any potential third party involvement.</li>
        <li>Leapkit has the exclusive right to expel existing members if it is found that; members behave unlawfully or unethically, if Leapkit services are misused and/or if general behavior not accepted by Leapkit occurs.</li>
        <li>The user is responsible for any actual or potential economic or legal lawsuit against Leapkit should it occur as a consequence of the user's wrongdoing or mismanagement of the profile.</li>
        <li>The user is responsible for suitable software and technological solutions needed to run Leapkit.</li>
        <li>The user is not allowed to use Leapkit as a platform for marketing and promoting of own personal goods and services.</li>
        <li>The user is not allowed to expose any material, which relates to religious, political, sexual or racial aspects on Leapkit.</li>
    </ul>

    <h4>Immaterial Rights</h4>
    <p>All immaterial rights including brand, establishment and personal member information belong to Leapkit. The user is not allowed to distribute or use any information from Leapkit for commercial purposes or personal economical gains. Leapkit responsibilities Leapkit has the obligation to:</p>
    <ul>
        <li>Not develop its website artificially based on falsely established profiles or moderators.</li>
        <li>Answer as fast as possible when users have requests to the support function.</li>
        <li>Permanently delete email addresses if requested upon by a member.</li>
    </ul>

    <h4>Liability</h4>
    <p>Leapkit is not liable towards the user in relation to:</p>
    <ul>
        <li>Other users' behavior. It is possible for users to report on negative media material and text.</li>
        <li>Contracts, which are developed and signed through the network on Leapkit.</li>
        <li>Any direct or indirect economic or emotional loss that exceeds the one paid to Leapkit.</li>
        <li>Loss of data. Leapkit is not a database for the individual user as such. It is up to the individual user to make back up of the necessary information. Leapkit cannot be held liable for the actual or potential loss of data and information on the site disregard the reason.</li>
    </ul>

    <h3>Our Social Responsibilities</h3>

    <h4>At Leapkit we value</h4>
    <ul>
        <li>To operate a system that caters for fast reporting to us in relation to inappropriate or unethical behavior on the website.</li>
        <li>To operate a system that in general allows us to be in close contact with our users.</li>
        <li>To operate a system that includes the fighting of scamming, spamming and fishing on the website. But it is always advised that the users stay alert towards messages and information that might be "too good to be true" or suspicious behavior.</li>
    </ul>

    <h4>User Privacy</h4>
    <ul>
        <li>When you sign up you agree to receive emails from Leapkit containing information and data.</li>
        <li>The amount of, and the frequency at which you receive, emails depends on the activity of the Students and the Companies from which you wish to "follow".</li>
        <li>Leapkit has the right to use the email system for questionnaires about Leapkit's own services and product development, and for the content of Leapkit's paying Companies and Universities, as well as students, using the services provided by Leapkit.</li>
        <li>The user can at any time choose to adjust the delivery by altering this function under "Account" – "Account Settings" – "Email Service".</li>
    </ul>

    <h3>Data</h3>
    <h4>Data Collection</h4>
    <ul>
        <li>When the user establishes a profile on Leapkit the user also accepts that personal information will be stored on our servers and that part hereof can be shared with the Universities and the Companies using the services provided by Leapkit.</li>
        <li>At any time the user can choose to contact Company or Student members using the personal email system and thereby operate outside the Leapkit networking and monitoring system.</li>
        <li>When the user establishes a profile on Leapkit the user also choose to expose personal data to Companies and Students. Therefore evaluate inputs carefully. This includes pictures.</li>
        <li>Leapkit is using cookies within its operating system. This technicality ensures that the system remembers the user's email address and access to the site. The user can disable this setting in the Internet browser.</li>
        <li>Each time the user visits Leapkit the IP-address will be registered. IP address is the address of the computer the user is using to access Leapkit. The IP address is registered to ensure that Leapkit always will be able to locate the computer used to access the site. This has been established to counteract on-site illegal activities.</li>
    </ul>


    <h4>Use of Personal Data</h4>
    <p>The information Leapkit collects about the user can and will be used in different ways:</p>
    <ul>
        <li>Name and email: This is used to identify the user as a user on Leapkit so that Leapkit and Companies and Students will be able to contact the user. The user's email address is also used to send emails to the user based on the information requested on the user's Dashboard.</li>
        <li>Postal and zip code: This is used to locate the user geographically and for Leapkit to understand how Leapkit's users are placed around the world. This will give Leapkit the opportunity to create networks and events in locations where there is a high number of Leapkit members.</li>
        <li>Birth date and gender: This is used to further identify the user and make the profile more visible on Leapkit.</li>
        <li>Leapkit can also use the information provided by the user at the signup process to improve services and functionalities by analyzing the way the user use the portal. As an example we can use the cookies and IP-addresses to see which parts of the webpage are most frequently used and thereby improve and optimize the services and functionality mostly used.</li>
        <li>Leapkit uses the user's information in Leapkit's back office recruitment system designed for Companies and Students. This enables Companies and Students to contact the user, based on the information provided by the user.</li>
        <li>Any comment sent to Leapkit about this website is the property of Leapkit and can be used without limitations.</li>
        <li>Received information will not be treated as confidential.</li>
    </ul>

    <h4>Distribution of Personal Data</h4>
    <ul>
        <li>As previously mentioned the user must be aware that the profile and activities will be visible to Companies and Students. Furthermore parts of the profile will be visible to non-members visiting the site.</li>
        <li>The user accepts that in case Leapkit's services are misused, the information at Leapkit's disposal such as IP-address will be distributed to the relevant authorities in case this is required.</li>
        <li>Leapkit is allowed to distribute all information about the user on the web site to third party if it happens anonymously or if third party is included in an agreement about confidentiality. Such distribution can take place in connection with statistical analysis about the web site, market research and as preparation for commercials, general branding and recruitment activity on Leapkit. This information can furthermore be used as input variables in Leapkit's back office solution designed for Companies and Students.</li>
    </ul>

    <h4>Right to Admission and Correction</h4>
    <p>If the user realizes that personal information on Leapkit is incorrect or misleading the user has access to the profile where necessary corrections can be made. Alternatively the user can contact Leapkit and request that the corrections are being made within a reasonable time frame. The user cannot delete the profile, but only make it non-visible on the web. This means that profile cannot be found or accessed by anyone. Personal information can be changed on "My Profile".</p>


    <h4>Use of Data/Third Party use of Data</h4>
    <ul>
        <li>Leapkit can make use of an external company to carry technical maintenance of the web site. In such case the company will handle data under Leapkit responsibility.</li>
        <li>Any company handling data on Leapkit will operate under the same regulations and law as Leapkit with regard to confidentiality.</li>
        <li>In case the whole company Leapkit or parts thereof is handed over to third party the user accepts that personal data on Leapkit can be transferred to third party. This requires that third party respects and follows the conditions for data handling as mentioned in this document.</li>
        <li>Change in Business Principles</li>
    </ul>
    <p>Leapkit maintains the right to change the above mentioned business principles at any time. If any change is made this will be publicized on Leapkit's web site where after the user has 30 days to become familiar with them. After 30 days it will be anticipated that all existing users accept and understand the changes. The user must be concurrently potential changes with regard to this.</p>

    <h3>Images</h3>

    <h4>Conditions for Uploading Photos and Pictures</h4>
    <p>All photos and pictures uploaded to Leapkit must respect the following:</p>
    <ul>
        <li>The photos and pictures must be free from copyrights and/or other restricted or limited use. The user must possess the complete rights to the photos and pictures that the user uploads. No third party must have the copyright or other rights to the photos or pictures that the user uploads. The people visible on the photos and pictures must have given their acceptance of public display.</li>
        <li>The photos and pictures must be clear. Unclear and modified photos and pictures will be deleted.</li>
        <li>The photos and pictures must not contain logos, links and references to other web pages or companies and/or their products.</li>
        <li>The photos and pictures must not appear violent, threatening, not-sober or have sexual tendencies. The photos and pictures must not show weapons, money or illegal drugs.</li>
        <li>Professional photos and pictures will be seen as false until a normal daily life photo or picture can be presented to verify its originality.</li>
    </ul>
    <p>Non-compliance of the above mentioned conditions for uploading photos and pictures could lead to expulsion of this site. Leapkit cannot incur liability for the non-compliance of a user.</p>

    <h4>Profile Photos and Pictures</h4>
    <p>Profile photos and pictures are visible to Companies and Students and this is the reason that the regulations for uploading such material are more restrictive than for other categories. The profile photo or picture must show you alone. In general Leapkit maintains the right to block or delete all content that shows threatening, hate full or vulgar attitude. Any profile with discriminating behavior towards individuals or groups based on ethnic, religious or sexual orientation will be deleted, blocked and reported to the legal authorities. Any profile that pretends to be another person (a false profile) will be deleted, blocked and reported to the legal authorities.</p>

    <h4>Pornographic Material</h4>
    <p>Any type of pornographic material will be deleted immediately and without warning. This includes pictures or photos of sexual or erotic character as well as abuse and physical damage of any kind.</p>

    <h4>Protected Material</h4>
    <p>Content on Leapkit protected by copyright belongs to the rightful owner. Other members are therefore not allowed to use this material without the acceptance of the rightful owner. Any material used but not belonging to the rightful owner and protected by (©, ®, ™) will be deleted or blocked. This includes any picture, which is not yours, and material that belongs to Leapkit.</p>


    <h3>Spam</h3>
    <p>Extensive distribution of one and same content is strictly illegal on Leapkit and profiles showing such behavior will be deleted immediately. This includes the sending of unwanted emails, chain letters or unwanted commercials such as product promotion and marketing of web sites.
    Illegal Activities</p>
    <p>Generally, all illegal activities are not allowed on Leapkit. The following will immediately be deleted from Leapkit:</p>
    <ul>
        <li>Photos and pictures showing pornographic situations, illegal drugs, cash and weapons.</li>
        <li>Vira and other computer codes with the aim of harming or destroy IT equipment belonging to us our members.</li>
        <li>Any activity that motivates to illegal activities or distributes knowledge about it such as trade with illegal drugs and weapons.</li>
        <li>Danish Law shall govern this Legal Notice. The Danish Courts shall decide any dispute arising out of or in relation to this Legal Notice, which cannot be solved amicably.</li>
    </ul>

    <h3>Final Remark</h3>
    <p>Leapkit thrives to create a positive and dynamic environment and therefore expects the user to share this philosophy. Leapkit is here to collaborate. The user is advised to read and accept Leapkit's rules and regulations before signing in as a user.</p>
</div>

