.general-container {
    background-color: #FFF;
    border: 1px solid #E8EBEF;
    margin-bottom: 3%;
    margin-top: 3%;
    padding: 2%;
}

.terms-agreement-box {
  margin-top: 2%;
  margin-bottom: 2%;
}

#terms_agreement {
  padding-left: 5%;
  padding-right: 2%;
}