#instantclick-bar {
    background: #FEA246;
}

.asteriskField {
    display: none;
}

.main {
    padding-top: 6.5%;
    padding-bottom: 6.5%;
}

a {
    text-decoration: none !important;
}

.footer-links li {
    display: inline-block;
    margin-right: 1.5%;
    float: left;
}

.footer-links li a {
    color: #777777;
}

.footer-links li a:hover {
    color: #FEA246;
}

.leapkit-copyright {
    float: right;
    text-align: right;
    color: #777777;
}

.text-upper {
    text-transform: uppercase;
}

.contact-table-div {
    border-left: 1px solid #e7e7e7;
}

.social-icons {
    display: inline-block;
}

.social-icons li {
    display: inline-block;
    font-size: 1.8em;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
}

.social-icons li a {
    color: #777777;
}

.social-icons li a:hover {
    color: #FEA246;
}

.main-wrapper {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.block-link {
    color: #000;
}

.block-link:hover {
    color: #000;
}

/*
    -------------   This section is to make sure the footer is always in the bottom of the page
*/

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 50px; /* bottom = footer height */
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
}

footer {
    border-top: 1px solid #e7e7e7;
}

footer .container {
    padding-top: 1%;
}



